  
  @font-face {
    font-family: "SpectralSC-Reg";
    src: url("../Assets/Fonts/SpectralSC-Regular.ttf") format('truetype');
  
  }

  
  @font-face {
    font-family: "Mont";
    src: url("../Assets/Fonts/Montserrat.ttf") format('truetype');
  
  }


  @font-face {
    font-family: "SpectralSC-Bold";
    src: url("../Assets/Fonts/SpectralSC-Bold.ttf") format('truetype');
  
  }
  /*
  *{
    border: 1px solid red;
  }
  */
  body{
    margin: 0 auto;
    background-color: #2D2C2B;
    
  }
  .below{
    display: flex;
    flex-direction: column;
    align-items:center;
  }

  .coms{
    padding: 10px 25px;
    display:flex; 
    justify-content: center;
    align-items: center; /* display on flex and centered the justfy-content and align-items options*/
    background: url("../Assets/Images/mordhau_banner.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
  }

  .comsbanner{ /* manages the comsbanner, which shows the different communities of mordhub */
    display:flex; 
    justify-content: center;
    align-items: center; /* display on flex and centered the justfy-content and align-items options*/
    padding: 15px;
    width: 100%;
  }
  .options{  /* manages class options, which contain the actual links */
    padding: 15px 95px;
    border-radius: 5px;
    font-family: SpectralSC-Bold;
    color:black;
    font-size: 20px;
    display:flex; 
    justify-content: space-between;
    align-items: center;
    background-color: #CB7A00;
    margin: 10px 25px; /* top and bottom margins are 10px and side margins are 45px*/
    height: 15%; /* set height to 15% and width to 85% */
    width: 85%;  
  }
  .options a{ /* no text-decoration on the links */
    text-decoration:none;
  
  }
  .selected{ /* set the class for the currently selected community (in index, this is Mordhau)*/
    background-color: #2D2C2B;
    padding: 0 45px;
    border-radius: 5px;
  
  }





  .text-boxes{
    height: 100%;
    display: flex;
    justify-content: space-between;
    width: 80%;
    flex-direction: row;
  }
  .text-boxes div{
    padding: 7px;
  }
  .center{
    
    border-radius: 5px;
    height: 900px;
    width: 50%;
    overflow: auto;
  }


  .left{
    width: 25%;
    height: 900px;
    
    border-right: 3px solid #CB7A00;
  }

  .left div{
    
    background-color: #535353;
  }
  
  .date{
    font-size: 12px;
  }
  
  .username{
    line-height: 0.2;
    width: 100%;
    color: white;
  }
  .username h1{
    
    font-family: SpectralSC-Reg;
    font-size: 18px;
  }
  .username p{
    
    font-family: Mont;
    font-size: 12px;
  }

  .post{
    border-bottom: 3px solid #CB7A00;
  }
  
  .post-text{
    background-color: #535353;
    font-family:Mont; 
    color:white;
    font-size: 15px;
    height: 100%;
    min-width: 50%;
  }
  .replies{
    margin-top: 5px;
    display:flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 100%;
  }
  .replies a{
    border-right: 2px solid white;
    border-left: 2px solid white;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    font-family: Mont;
    padding: 5px;
    margin-right: 15px;
  }
  .user-info{
    
    font-family: SpectralSC-Reg;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
  }
  .user-info img{
    
    object-fit: cover;

  }
  .user{
    
    font-family: SpectralSC-Reg;
    display: flex;
    flex-direction: row;
    align-items:center;
    color:white;
    margin-bottom: 10px;
  }
  .user img{
    object-fit: cover;
  }
  
  .names{
    line-height: 0;
    width: 100%;
    min-height: 20px;
  }
  .names h1{
    font-size: 25px;
  }
  .names h3{
    font-size: 15px;
  }
  .cover{
    padding: 15px;
  }
  .info{
    color: white;
    
  }
  .info h1{
    text-align: center;
    font-family: SpectralSC-Reg;
    font-size: 30px;
  }
  
  .info p{
    width: 100%;
    font-family: Mont;
    font-size: 15px;
  }

  
  
  .right{
    width: 25%;
    height: 900px;
    border-left: 3px solid #CB7A00;
    display: flex;
    flex-direction: column;
    
    align-items:center;
  }
  .right div{
    margin: 7px 0;
    background-color: #535353;
  }

  .create-post{
    
    font-family: SpectralSC-Bold;
    width: 75%;
    height: 80px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #CB7A00;
    
    color:black;
    text-decoration: none;
  }