  @font-face {
    font-family: "SpectralSC-Reg";
    src: url("../Assets/Fonts/SpectralSC-Regular.ttf") format('truetype');

  }


  @font-face {
    font-family: "Mont";
    src: url("../Assets/Fonts/Montserrat.ttf") format('truetype');

  }


  @font-face {
    font-family: "SpectralSC-Bold";
    src: url("../Assets/Fonts/SpectralSC-Bold.ttf") format('truetype');

  }

  ::-webkit-scrollbar {
    width: 3px;
  }

  ::-webkit-scrollbar-track {
    background: #888;
  }

  ::-webkit-scrollbar-thumb {
    background: green;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #F2BD00;
  }


  body {
    margin: 0 auto;
    background-color: #2D2C2B;

  }

  .below {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .coms {
    padding: 10px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display on flex and centered the justfy-content and align-items options*/
    background: url("../Assets/Images/mordhau_banner.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100px;
  }








  .text-boxes {
    height: 100%;
    display: flex;
    justify-content: space-between;
    width: 90%;
    flex-direction: row;
  }

  .text-boxes div {
    padding: 7px;
  }

  .center {
    
    border-radius: 5px;
    height: 900px;
    width: 50%;
    overflow: auto;
  }


  .left {
    width: 25%;
    height: 900px;
    padding: 15px;
    border-right: 3px solid #CB7A00;
  }

  .date {
    font-size: 12px;
  }

  .post {
    border-bottom: 3px solid #CB7A00;
    
  }

  .post-text {
    background-color: #535353;
    font-family: Mont;
    color: white;
    font-size: 15px;
    height: 100%;
    min-width: 50%;
  }

  .post-replies {
    font-family: Mont;
    color: white;
  }

  .post-replies h3 {
    font-size: 15px;
  }

  .post-media {
    display: flex;
    justify-content: center;
  }

  .reply {
    margin-bottom: 5px;
    background-color: #323232;
  }

  .replyauthor-info {

    font-family: SpectralSC-Reg;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid white;
  }

  .replyauthorname {
    line-height: 0.2;
    width: 100%;
    color: white;
  }

  .replyauthorname h1 {

    font-family: SpectralSC-Reg;
    font-size: 12px;
  }

  .replyauthorname p {

    font-family: Mont;
    font-size: 10px;
  }

  .reply-text {
    display: flex;
    font-family: Mont;
    color: white;
    font-size: 11px;
  }

  .authorname {
    line-height: 0.2;
    width: 100%;
    color: white;
  }

  .authorname h1 {

    font-family: SpectralSC-Reg;
    font-size: 18px;
  }

  .authorname p {

    font-family: Mont;
    font-size: 12px;
  }



  .postauthor-info {

    font-family: SpectralSC-Reg;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
  }

  .postauthor-info img {

    object-fit: contain;

  }
  .user {
    background-color: transparent;
    font-family: SpectralSC-Reg;
    display: flex;
    flex-direction: row;
    align-items: top;
    color: white;
    margin-bottom: 10px;
  }

  .user img {
    object-fit: contain;
  }

  .names {
    line-height: 0;
    width: 100%;
    min-height: 20px;
  }

  .names h1 {
    font-size: 20px;
  }

  .names h3 {
    font-size: 9.5px;
  }

  .cover {
    padding: 15px;
  }

  .info {

    background-color: #535353;
    color: white;
  }

  .info h1 {

    line-height: 0.1;
    filter: drop-shadow(3px 3px 5px gray);
    text-align: center;
    font-family: SpectralSC-Reg;
    font-size: 30px;
  }

  .info p {
    width: 100%;
    font-family: Mont;
    font-size: 15px;
  }



  .right {
    width: 25%;
    height: 900px;
    border-left: 3px solid #CB7A00;
    display: flex;
    flex-direction: column;

    align-items: center;
  }

  .right div {
    margin: 7px 0;
  }


  .comsbanner {
    /* manages the comsbanner, which shows the different communities of mordhub */
    display: flex;

    flex-direction: column nowrap;
    padding: 15px;
    width: 100%;
  }


  .options {
    /* manages class options, which contain the actual links to other pages */

    border-radius: 5px;
    font-family: SpectralSC-Bold;
    color: black;
    font-size: 20px;
  }

  .options div {

    border-bottom: 3px solid #CB7A00;
  }

  .options a {
    /* no text-decoration on the links */
    text-decoration: none;
    font-family: SpectralSC-Reg;
    color: white;
  }

  .options a:hover {

    transition: 0.2s ease-in-out;
    color: #cb1800;
  }

  .post-options {
    display: flex;
    flex-direction: row;
  }

  .reply-section {

    display: flex;
    flex-direction: column;
  }

  .reply-btn {
    font-size: 10px;
    width: 20%;
    font-family: SpectralSC-Reg;
    font-weight: bold;
    background-color: #CB7A00;
    border: none;
  }

  .reply-btn:hover {
    background-color: #F2BD00;
    color: black;
    transition: background-color 0.2s;

  }


  .post-content textarea {

    outline: none;
    border-top: 2px solid #CB7A00;
    border-left: 2px solid #CB7A00;
    width: 60%;
    color: white;
    border-radius: 5px;
    font-family: Mont;
    font-size: 12px;
    background-color: transparent;
  }

  .below-post {
    margin-top: 5px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;

    height: 100%;
  }

  .below-post a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Mont;

  }


  .reply-option {
    padding: 5px;
    border-radius: 6px;
    border: none;
    border-right: 2px solid white;
    border-left: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-size: 10px;
    color: white;
    font-weight: bold;
    font-family: Mont;
    cursor: pointer;
  }

  .tag {
    padding: 5px 15px;
    border-radius: 3px;
    font-family: Mont;
    color: black;
    font-size: 10px;
    text-align: center;
  }


  .create-post {

    font-family: SpectralSC-Bold;
    border: none;
    height: 80px;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CB7A00;

    color: black;
    text-decoration: none;
  }

  .create-post:hover {

    transition: 0.2s ease-in-out;
    background-color: #cb1800;
  }