@font-face {
    font-family: "SpectralSC-Reg";
    src: url("../Assets/Fonts/SpectralSC-Regular.ttf") format('truetype');

}

@font-face {
    font-family: "Medieval";
    src: url("../Assets/Fonts/MedievalSharp-Regular.ttf") format('truetype');

}

@font-face {
    font-family: "SpectralSC-Bold";
    src: url("../Assets/Fonts/SpectralSC-Bold.ttf") format('truetype');

}


input[type="file"]::file-selector-button:hover {
    background-color: #CB7A00;
    transition: background-color 0.2s;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
}



.error-msg {
    font-size: 11px;
}

.close {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    left: 1060px;
    color: white;

}

.post-modal {
    display: none;
    /* hide by default */
    position: fixed;
    align-items: center;
    justify-content: center;
    /* stay on the spot */
    z-index: 1;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* Full width and height */
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    /* bg colors */
}

/* this section class manages the div where the content is in */
.post-section {
    /* manages the position of the section div */
    background-color: #2D2C2B;
    /* changes background color */
    display: flex;
    align-items: center;
    justify-content: center;
    /* centers the objects within */
    padding: 0 0 25px 0;
    width: 45%;
    /* manages the height and width */
    border-radius: 5px;
    overflow: hidden;
    /* rounds the corners and hides overflowing hidden */
    box-shadow: 0 8px 8px 3px rgb(41, 40, 40, 0.4);

    -webkit-animation-name: fade-in;
    -webkit-animation-duration: 0.4s;
    animation-name: fade-in;
    animation-duration: 0.4s
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

/* This is where the login section is*/
.postform-section {

    width: 30%;
    padding: 0 55px;
    border-radius: 15px;
    flex-grow: 2;

}

.post-img {

    display: flex;
    flex-direction: column;
}


.img-upload {
    width: 200px;
}

.title {
    display: flex;

    align-items: center;
    line-height: 0.2;
    justify-content: center;
}

/*Forget Password Section*/
.postform-section h1,
.postform-section h3,
.postform-section p {
    text-align: center;
    color: white;
}

.postform-section h3 {

    font-family: SpectralSC-Reg;
}

.postform-section p {

    font-family: SpectralSC-Reg;
}

.postform-section h1 {
    font-size: 45px;
    font-family: SpectralSC-Reg;

}

/*Hyperlink*/
.section a {
    text-decoration: none;
    font-weight: bold;
    color: #F2BD00;
}

/*Username and Password form*/
.input-form {
    border-bottom: 3px solid #CB7A00;
    background-color: #535353;
    padding: 4px;
}

.input-form:hover {

    border-top: 1px solid #F2BD00;
    border-left: 1px solid #F2BD00;
    border-right: 1px solid #F2BD00;
    border-bottom: 3px solid #CB7A00;
    transition: 0.1s ease all;
}

/* manages the actual input elements */
.input-form input {
    font-family: SpectralSC-Reg;
    background-color: #535353;
    color: white;
    font-size: 15px;
    outline: none;
    width: 100%;
    /* removes the outline from the actual input box */

}

.input-form #contents {
    width: 80%;
}

.btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Button*/
.btn {
    margin-top: 15px;
    font-family: SpectralSC-Reg;
    font-size: 19px;
    font-weight: bold;
    background-color: #CB7A00;
    width: 50%;
    height: 100%;
    padding: 8px;
    border: none;
    border-radius: 7px;
    color: white;
}

.btn:hover {
    background-color: #F2BD00;
    color: black;
    transition: background-color 0.2s;

}

.post-modal textarea {
    outline: none;
    border-top: 2px solid #CB7A00;
    border-left: 2px solid #CB7A00;
    width: 100%;
    color: white;
    border-radius: 5px;
    font-family: Mont;
    background-color: transparent;
}