 
  @font-face {
    font-family: "SpectralSC-Reg";
    src: url("../Assets/Fonts/SpectralSC-Regular.ttf") format('truetype');
  
  }

  
  @font-face {
    font-family: "Mont";
    src: url("../Assets/Fonts/Montserrat.ttf") format('truetype');
  
  }


  @font-face {
    font-family: "SpectralSC-Bold";
    src: url("../Assets/Fonts/SpectralSC-Bold.ttf") format('truetype');
  
  }

  body{
    margin: 0 auto;
    background-color: #2D2C2B;
    
  }
  .below{
    display: flex;
    flex-direction: column;
    align-items:center;
  }

  .coms{
    padding: 10px 25px;
    display:flex; 
    justify-content: center;
    align-items: center; /* display on flex and centered the justfy-content and align-items options*/
    background: url("../Assets/Images/mordhau_banner.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 150px;
  }
  .center{
    
    border-radius: 5px;
    height: 100%;
    width: 50%;
    overflow: auto;
  }
  

  .text-boxes{
    height: 530px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    flex-direction: row;
  }
  .text-boxes div{
    padding: 5px;
  }

  .left{
    width: 25%;
    display: flex;
    justify-content: right;
    border-right: 3px solid #CB7A00;
  }

  
  .pfp{
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
  
  }
  .pfp img{
    object-fit: contain;
  }
  .update-pfp{
    
    display: flex;
    flex-direction: column;
  }
  .pfp-upload{
    width: 200px;
  }
  input{
    
    font-family: Mont;
  }
  input[type="file"]::file-selector-button {
    border-radius: 4px;
   
    font-family: Mont;
    cursor: pointer;
    background-color: white;
  }
  
  /* file upload button hover state */
  input[type="file"]::file-selector-button:hover {
    background-color: #CB7A00;
    transition: background-color 0.2s;
  }
  
  /* file upload button active state */
  input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
  }
  


  .date{
    font-size: 12px;
  }
  
  .username{
    line-height: 0.2;
    width: 100%;
    color: white;
  }
  .username h1{
    
    font-family: SpectralSC-Reg;
    font-size: 30px;
  }
  
  .username h3{
    
    font-family: SpectralSC-Reg;
    font-size: 20px;
  }
  .username p{
    
    font-family: Mont;
    font-size: 15px;
  }
  
  .user-info{
    
    font-family: SpectralSC-Reg;
    display: flex;
    flex-direction: column;
    align-items: top;
  }
  .user-info img{
    
    object-fit: cover;

  }
  .about{
    display: flex;
    flex-direction: column;
    color:white;
  }
  .about h4{
    
    line-height: 0.1;
  }
  .bio{
    border: 1px solid #535353;
    border-radius: 5px;
    font-size: 14px;
    
  }

  
  
  .right{
    width: 25%;
    border-left: 3px solid #CB7A00;
    display: flex;
    flex-direction: column;
    
    align-items:center;
  }
  .right div{
    margin: 7px 0;
  }

  
  .comsbanner{ /* manages the comsbanner, which shows the different communities of mordhub */
    display:flex; 
    
    flex-direction: column nowrap;
    padding: 15px;
    width: 100%;
  }
  

  .options{  /* manages class options, which contain the actual links */
    
    border-radius: 5px;
    font-family: SpectralSC-Bold;
    color:black;
    font-size: 20px;
  }
  .options div{
    
    border-bottom: 3px solid #CB7A00;
  }
  .options a{ /* no text-decoration on the links */
    text-decoration:none;
    font-family: SpectralSC-Reg;
    color:white;
  }
  .options a:hover{
    
    transition: 0.2s ease-in-out;
    color: #cb1800;
  }